.color-border-AliceBlue { border-color: #F0F8FF; }
.color-border-AntiqueWhite { border-color: #FAEBD7; }
.color-border-Aqua { border-color: #00FFFF; }
.color-border-Aquamarine { border-color: #7FFFD4; }
.color-border-Azure { border-color: #F0FFFF; }
.color-border-Beige { border-color: #F5F5DC; }
.color-border-Bisque { border-color: #FFE4C4; }
.color-border-Black { border-color: #000000; }
.color-border-BlanchedAlmond { border-color: #FFEBCD; }
.color-border-Blue { border-color: #0000FF; }
.color-border-BlueViolet { border-color: #8A2BE2; }
.color-border-Brown { border-color: #A52A2A; }
.color-border-BurlyWood { border-color: #DEB887; }
.color-border-CadetBlue { border-color: #5F9EA0; }
.color-border-Chartreuse { border-color: #7FFF00; }
.color-border-Chocolate { border-color: #D2691E; }
.color-border-Coral { border-color: #FF7F50; }
.color-border-CornflowerBlue { border-color: #6495ED; }
.color-border-Cornsilk { border-color: #FFF8DC; }
.color-border-Crimson { border-color: #DC143C; }
.color-border-Cyan { border-color: #00FFFF; }
.color-border-DarkBlue { border-color: #00008B; }
.color-border-DarkCyan { border-color: #008B8B; }
.color-border-DarkGoldenRod { border-color: #B8860B; }
.color-border-DarkGray { border-color: #A9A9A9; }
.color-border-DarkGrey { border-color: #A9A9A9; }
.color-border-DarkGreen { border-color: #006400; }
.color-border-DarkKhaki { border-color: #BDB76B; }
.color-border-DarkMagenta { border-color: #8B008B; }
.color-border-DarkOliveGreen { border-color: #556B2F; }
.color-border-Darkorange { border-color: #FF8C00; }
.color-border-DarkOrchid { border-color: #9932CC; }
.color-border-DarkRed { border-color: #8B0000; }
.color-border-DarkSalmon { border-color: #E9967A; }
.color-border-DarkSeaGreen { border-color: #8FBC8F; }
.color-border-DarkSlateBlue { border-color: #483D8B; }
.color-border-DarkSlateGray { border-color: #2F4F4F; }
.color-border-DarkSlateGrey { border-color: #2F4F4F; }
.color-border-DarkTurquoise { border-color: #00CED1; }
.color-border-DarkViolet { border-color: #9400D3; }
.color-border-DeepPink { border-color: #FF1493; }
.color-border-DeepSkyBlue { border-color: #00BFFF; }
.color-border-DimGray { border-color: #696969; }
.color-border-DimGrey { border-color: #696969; }
.color-border-DodgerBlue { border-color: #1E90FF; }
.color-border-FireBrick { border-color: #B22222; }
.color-border-FloralWhite { border-color: #FFFAF0; }
.color-border-ForestGreen { border-color: #228B22; }
.color-border-Fuchsia { border-color: #FF00FF; }
.color-border-Gainsboro { border-color: #DCDCDC; }
.color-border-GhostWhite { border-color: #F8F8FF; }
.color-border-Gold { border-color: #FFD700; }
.color-border-GoldenRod { border-color: #DAA520; }
.color-border-Gray { border-color: #808080; }
.color-border-Grey { border-color: #808080; }
.color-border-Green { border-color: #008000; }
.color-border-GreenYellow { border-color: #ADFF2F; }
.color-border-HoneyDew { border-color: #F0FFF0; }
.color-border-HotPink { border-color: #FF69B4; }
.color-border-IndianRed  { border-color: #CD5C5C; }
.color-border-Indigo  { border-color: #4B0082; }
.color-border-Ivory { border-color: #FFFFF0; }
.color-border-Khaki { border-color: #F0E68C; }
.color-border-Lavender { border-color: #E6E6FA; }
.color-border-LavenderBlush { border-color: #FFF0F5; }
.color-border-LawnGreen { border-color: #7CFC00; }
.color-border-LemonChiffon { border-color: #FFFACD; }
.color-border-LightBlue { border-color: #ADD8E6; }
.color-border-LightCoral { border-color: #F08080; }
.color-border-LightCyan { border-color: #E0FFFF; }
.color-border-LightGoldenRodYellow { border-color: #FAFAD2; }
.color-border-LightGray { border-color: #D3D3D3; }
.color-border-LightGrey { border-color: #D3D3D3; }
.color-border-LightGreen { border-color: #90EE90; }
.color-border-LightPink { border-color: #FFB6C1; }
.color-border-LightSalmon { border-color: #FFA07A; }
.color-border-LightSeaGreen { border-color: #20B2AA; }
.color-border-LightSkyBlue { border-color: #87CEFA; }
.color-border-LightSlateGray { border-color: #778899; }
.color-border-LightSlateGrey { border-color: #778899; }
.color-border-LightSteelBlue { border-color: #B0C4DE; }
.color-border-LightYellow { border-color: #FFFFE0; }
.color-border-Lime { border-color: #00FF00; }
.color-border-LimeGreen { border-color: #32CD32; }
.color-border-Linen { border-color: #FAF0E6; }
.color-border-Magenta { border-color: #FF00FF; }
.color-border-Maroon { border-color: #800000; }
.color-border-MediumAquaMarine { border-color: #66CDAA; }
.color-border-MediumBlue { border-color: #0000CD; }
.color-border-MediumOrchid { border-color: #BA55D3; }
.color-border-MediumPurple { border-color: #9370D8; }
.color-border-MediumSeaGreen { border-color: #3CB371; }
.color-border-MediumSlateBlue { border-color: #7B68EE; }
.color-border-MediumSpringGreen { border-color: #00FA9A; }
.color-border-MediumTurquoise { border-color: #48D1CC; }
.color-border-MediumVioletRed { border-color: #C71585; }
.color-border-MidnightBlue { border-color: #191970; }
.color-border-MintCream { border-color: #F5FFFA; }
.color-border-MistyRose { border-color: #FFE4E1; }
.color-border-Moccasin { border-color: #FFE4B5; }
.color-border-NavajoWhite { border-color: #FFDEAD; }
.color-border-Navy { border-color: #000080; }
.color-border-OldLace { border-color: #FDF5E6; }
.color-border-Olive { border-color: #808000; }
.color-border-OliveDrab { border-color: #6B8E23; }
.color-border-Orange { border-color: #FFA500; }
.color-border-OrangeRed { border-color: #FF4500; }
.color-border-Orchid { border-color: #DA70D6; }
.color-border-PaleGoldenRod { border-color: #EEE8AA; }
.color-border-PaleGreen { border-color: #98FB98; }
.color-border-PaleTurquoise { border-color: #AFEEEE; }
.color-border-PaleVioletRed { border-color: #D87093; }
.color-border-PapayaWhip { border-color: #FFEFD5; }
.color-border-PeachPuff { border-color: #FFDAB9; }
.color-border-Peru { border-color: #CD853F; }
.color-border-Pink { border-color: #FFC0CB; }
.color-border-Plum { border-color: #DDA0DD; }
.color-border-PowderBlue { border-color: #B0E0E6; }
.color-border-Purple { border-color: #800080; }
.color-border-Red { border-color: #FF0000; }
.color-border-RosyBrown { border-color: #BC8F8F; }
.color-border-RoyalBlue { border-color: #4169E1; }
.color-border-SaddleBrown { border-color: #8B4513; }
.color-border-Salmon { border-color: #FA8072; }
.color-border-SandyBrown { border-color: #F4A460; }
.color-border-SeaGreen { border-color: #2E8B57; }
.color-border-SeaShell { border-color: #FFF5EE; }
.color-border-Sienna { border-color: #A0522D; }
.color-border-Silver { border-color: #C0C0C0; }
.color-border-SkyBlue { border-color: #87CEEB; }
.color-border-SlateBlue { border-color: #6A5ACD; }
.color-border-SlateGray { border-color: #708090; }
.color-border-SlateGrey { border-color: #708090; }
.color-border-Snow { border-color: #FFFAFA; }
.color-border-SpringGreen { border-color: #00FF7F; }
.color-border-SteelBlue { border-color: #4682B4; }
.color-border-Tan { border-color: #D2B48C; }
.color-border-Teal { border-color: #008080; }
.color-border-Thistle { border-color: #D8BFD8; }
.color-border-Tomato { border-color: #FF6347; }
.color-border-Turquoise { border-color: #40E0D0; }
.color-border-Violet { border-color: #EE82EE; }
.color-border-Wheat { border-color: #F5DEB3; }
.color-border-White { border-color: #FFFFFF; }
.color-border-WhiteSmoke { border-color: #F5F5F5; }
.color-border-Yellow { border-color: #FFFF00; }
.color-border-YellowGreen { border-color: #9ACD32; }