.color-text-bg-AliceBlue { background-color: #F0F8FF; color: #000000; }
.color-text-bg-AntiqueWhite { background-color: #FAEBD7; color: #000000; }
.color-text-bg-Aqua { background-color: #00FFFF; color: #FFFFFF; }
.color-text-bg-Aquamarine { background-color: #7FFFD4; color: #000000; }
.color-text-bg-Azure { background-color: #F0FFFF; color: #000000; }
.color-text-bg-Beige { background-color: #F5F5DC; color: #000000; }
.color-text-bg-Bisque { background-color: #FFE4C4; color: #000000; }
.color-text-bg-Black { background-color: #000000; color: #FFFFFF; }
.color-text-bg-BlanchedAlmond { background-color: #FFEBCD; color: #000000; }
.color-text-bg-Blue { background-color: #0000FF; color: #FFFFFF; }
.color-text-bg-BlueViolet { background-color: #8A2BE2; color: #FFFFFF; }
.color-text-bg-Brown { background-color: #A52A2A; color: #FFFFFF; }
.color-text-bg-BurlyWood { background-color: #DEB887; color: #000000; }
.color-text-bg-CadetBlue { background-color: #5F9EA0; color: #FFFFFF; }
.color-text-bg-Chartreuse { background-color: #7FFF00; color: #000000; }
.color-text-bg-Chocolate { background-color: #D2691E; color: #FFFFFF; }
.color-text-bg-Coral { background-color: #FF7F50; color: #FFFFFF; }
.color-text-bg-CornflowerBlue { background-color: #6495ED; color: #FFFFFF; }
.color-text-bg-Cornsilk { background-color: #FFF8DC; color: #000000; }
.color-text-bg-Crimson { background-color: #DC143C; color: #FFFFFF; }
.color-text-bg-Cyan { background-color: #00FFFF; color: #FFFFFF; }
.color-text-bg-DarkBlue { background-color: #00008B; color: #FFFFFF; }
.color-text-bg-DarkCyan { background-color: #008B8B; color: #FFFFFF; }
.color-text-bg-DarkGoldenRod { background-color: #B8860B; color: #FFFFFF; }
.color-text-bg-DarkGray { background-color: #A9A9A9; color: #FFFFFF; }
.color-text-bg-DarkGreen { background-color: #006400; color: #FFFFFF; }
.color-text-bg-DarkGrey { background-color: #A9A9A9; color: #FFFFFF; }
.color-text-bg-DarkKhaki { background-color: #BDB76B; color: #FFFFFF; }
.color-text-bg-DarkMagenta { background-color: #8B008B; color: #FFFFFF; }
.color-text-bg-DarkOliveGreen { background-color: #556B2F; color: #FFFFFF; }
.color-text-bg-Darkorange { background-color: #FF8C00; color: #FFFFFF; }
.color-text-bg-DarkOrchid { background-color: #9932CC; color: #FFFFFF; }
.color-text-bg-DarkRed { background-color: #8B0000; color: #FFFFFF; }
.color-text-bg-DarkSalmon { background-color: #E9967A; color: #FFFFFF; }
.color-text-bg-DarkSeaGreen { background-color: #8FBC8F; color: #FFFFFF; }
.color-text-bg-DarkSlateBlue { background-color: #483D8B; color: #FFFFFF; }
.color-text-bg-DarkSlateGray { background-color: #2F4F4F; color: #FFFFFF; }
.color-text-bg-DarkSlateGrey { background-color: #2F4F4F; color: #FFFFFF; }
.color-text-bg-DarkTurquoise { background-color: #00CED1; color: #FFFFFF; }
.color-text-bg-DarkViolet { background-color: #9400D3; color: #FFFFFF; }
.color-text-bg-DeepPink { background-color: #FF1493; color: #FFFFFF; }
.color-text-bg-DeepSkyBlue { background-color: #00BFFF; color: #FFFFFF; }
.color-text-bg-DimGray { background-color: #696969; color: #FFFFFF; }
.color-text-bg-DimGrey { background-color: #696969; color: #FFFFFF; }
.color-text-bg-DodgerBlue { background-color: #1E90FF; color: #FFFFFF; }
.color-text-bg-FireBrick { background-color: #B22222; color: #FFFFFF; }
.color-text-bg-FloralWhite { background-color: #FFFAF0; color: #000000; }
.color-text-bg-ForestGreen { background-color: #228B22; color: #FFFFFF; }
.color-text-bg-Fuchsia { background-color: #FF00FF; color: #FFFFFF; }
.color-text-bg-Gainsboro { background-color: #DCDCDC; color: #000000; }
.color-text-bg-GhostWhite { background-color: #F8F8FF; color: #000000; }
.color-text-bg-Gold { background-color: #FFD700; color: #000000; }
.color-text-bg-GoldenRod { background-color: #DAA520; color: #FFFFFF; }
.color-text-bg-Gray { background-color: #808080; color: #FFFFFF; }
.color-text-bg-Green { background-color: #008000; color: #FFFFFF; }
.color-text-bg-GreenYellow { background-color: #ADFF2F; color: #000000; }
.color-text-bg-Grey { background-color: #808080; color: #FFFFFF; }
.color-text-bg-HoneyDew { background-color: #F0FFF0; color: #000000; }
.color-text-bg-HotPink { background-color: #FF69B4; color: #FFFFFF; }
.color-text-bg-IndianRed { background-color: #CD5C5C; color: #FFFFFF; }
.color-text-bg-Indigo { background-color: #4B0082; color: #FFFFFF; }
.color-text-bg-Ivory { background-color: #FFFFF0; color: #000000; }
.color-text-bg-Khaki { background-color: #F0E68C; color: #000000; }
.color-text-bg-Lavender { background-color: #E6E6FA; color: #000000; }
.color-text-bg-LavenderBlush { background-color: #FFF0F5; color: #000000; }
.color-text-bg-LawnGreen { background-color: #7CFC00; color: #FFFFFF; }
.color-text-bg-LemonChiffon { background-color: #FFFACD; color: #000000; }
.color-text-bg-LightBlue { background-color: #ADD8E6; color: #000000; }
.color-text-bg-LightCoral { background-color: #F08080; color: #FFFFFF; }
.color-text-bg-LightCyan { background-color: #E0FFFF; color: #000000; }
.color-text-bg-LightGoldenRodYellow { background-color: #FAFAD2; color: #000000; }
.color-text-bg-LightGray { background-color: #D3D3D3; color: #000000; }
.color-text-bg-LightGreen { background-color: #90EE90; color: #000000; }
.color-text-bg-LightGrey { background-color: #D3D3D3; color: #000000; }
.color-text-bg-LightPink { background-color: #FFB6C1; color: #000000; }
.color-text-bg-LightSalmon { background-color: #FFA07A; color: #FFFFFF; }
.color-text-bg-LightSeaGreen { background-color: #20B2AA; color: #FFFFFF; }
.color-text-bg-LightSkyBlue { background-color: #87CEFA; color: #000000; }
.color-text-bg-LightSlateGray { background-color: #778899; color: #FFFFFF; }
.color-text-bg-LightSlateGrey { background-color: #778899; color: #FFFFFF; }
.color-text-bg-LightSteelBlue { background-color: #B0C4DE; color: #000000; }
.color-text-bg-LightYellow { background-color: #FFFFE0; color: #000000; }
.color-text-bg-Lime { background-color: #00FF00; color: #FFFFFF; }
.color-text-bg-LimeGreen { background-color: #32CD32; color: #FFFFFF; }
.color-text-bg-Linen { background-color: #FAF0E6; color: #000000; }
.color-text-bg-Magenta { background-color: #FF00FF; color: #FFFFFF; }
.color-text-bg-Maroon { background-color: #800000; color: #FFFFFF; }
.color-text-bg-MediumAquaMarine { background-color: #66CDAA; color: #FFFFFF; }
.color-text-bg-MediumBlue { background-color: #0000CD; color: #FFFFFF; }
.color-text-bg-MediumOrchid { background-color: #BA55D3; color: #FFFFFF; }
.color-text-bg-MediumPurple { background-color: #9370D8; color: #FFFFFF; }
.color-text-bg-MediumSeaGreen { background-color: #3CB371; color: #FFFFFF; }
.color-text-bg-MediumSlateBlue { background-color: #7B68EE; color: #FFFFFF; }
.color-text-bg-MediumSpringGreen { background-color: #00FA9A; color: #FFFFFF; }
.color-text-bg-MediumTurquoise { background-color: #48D1CC; color: #FFFFFF; }
.color-text-bg-MediumVioletRed { background-color: #C71585; color: #FFFFFF; }
.color-text-bg-MidnightBlue { background-color: #191970; color: #FFFFFF; }
.color-text-bg-MintCream { background-color: #F5FFFA; color: #000000; }
.color-text-bg-MistyRose { background-color: #FFE4E1; color: #000000; }
.color-text-bg-Moccasin { background-color: #FFE4B5; color: #000000; }
.color-text-bg-NavajoWhite { background-color: #FFDEAD; color: #000000; }
.color-text-bg-Navy { background-color: #000080; color: #FFFFFF; }
.color-text-bg-OldLace { background-color: #FDF5E6; color: #000000; }
.color-text-bg-Olive { background-color: #808000; color: #FFFFFF; }
.color-text-bg-OliveDrab { background-color: #6B8E23; color: #FFFFFF; }
.color-text-bg-Orange { background-color: #FFA500; color: #FFFFFF; }
.color-text-bg-OrangeRed { background-color: #FF4500; color: #FFFFFF; }
.color-text-bg-Orchid { background-color: #DA70D6; color: #FFFFFF; }
.color-text-bg-PaleGoldenRod { background-color: #EEE8AA; color: #000000; }
.color-text-bg-PaleGreen { background-color: #98FB98; color: #000000; }
.color-text-bg-PaleTurquoise { background-color: #AFEEEE; color: #000000; }
.color-text-bg-PaleVioletRed { background-color: #D87093; color: #FFFFFF; }
.color-text-bg-PapayaWhip { background-color: #FFEFD5; color: #000000; }
.color-text-bg-PeachPuff { background-color: #FFDAB9; color: #000000; }
.color-text-bg-Peru { background-color: #CD853F; color: #FFFFFF; }
.color-text-bg-Pink { background-color: #FFC0CB; color: #000000; }
.color-text-bg-Plum { background-color: #DDA0DD; color: #FFFFFF; }
.color-text-bg-PowderBlue { background-color: #B0E0E6; color: #000000; }
.color-text-bg-Purple { background-color: #800080; color: #FFFFFF; }
.color-text-bg-Red { background-color: #FF0000; color: #FFFFFF; }
.color-text-bg-RosyBrown { background-color: #BC8F8F; color: #FFFFFF; }
.color-text-bg-RoyalBlue { background-color: #4169E1; color: #FFFFFF; }
.color-text-bg-SaddleBrown { background-color: #8B4513; color: #FFFFFF; }
.color-text-bg-Salmon { background-color: #FA8072; color: #FFFFFF; }
.color-text-bg-SandyBrown { background-color: #F4A460; color: #FFFFFF; }
.color-text-bg-SeaGreen { background-color: #2E8B57; color: #FFFFFF; }
.color-text-bg-SeaShell { background-color: #FFF5EE; color: #000000; }
.color-text-bg-Sienna { background-color: #A0522D; color: #FFFFFF; }
.color-text-bg-Silver { background-color: #C0C0C0; color: #000000; }
.color-text-bg-SkyBlue { background-color: #87CEEB; color: #000000; }
.color-text-bg-SlateBlue { background-color: #6A5ACD; color: #FFFFFF; }
.color-text-bg-SlateGray { background-color: #708090; color: #FFFFFF; }
.color-text-bg-SlateGrey { background-color: #708090; color: #FFFFFF; }
.color-text-bg-Snow { background-color: #FFFAFA; color: #000000; }
.color-text-bg-SpringGreen { background-color: #00FF7F; color: #FFFFFF; }
.color-text-bg-SteelBlue { background-color: #4682B4; color: #FFFFFF; }
.color-text-bg-Tan { background-color: #D2B48C; color: #FFFFFF; }
.color-text-bg-Teal { background-color: #008080; color: #FFFFFF; }
.color-text-bg-Thistle { background-color: #D8BFD8; color: #000000; }
.color-text-bg-Tomato { background-color: #FF6347; color: #FFFFFF; }
.color-text-bg-Turquoise { background-color: #40E0D0; color: #FFFFFF; }
.color-text-bg-Violet { background-color: #EE82EE; color: #FFFFFF; }
.color-text-bg-Wheat { background-color: #F5DEB3; color: #000000; }
.color-text-bg-White { background-color: #FFFFFF; color: #000000; }
.color-text-bg-WhiteSmoke { background-color: #F5F5F5; color: #000000; }
.color-text-bg-Yellow { background-color: #FFFF00; color: #000000; }
.color-text-bg-YellowGreen { background-color: #9ACD32; color: #FFFFFF; }
