.color-bg-AliceBlue { background-color: #F0F8FF; }
.color-bg-AntiqueWhite { background-color: #FAEBD7; }
.color-bg-Aqua { background-color: #00FFFF; }
.color-bg-Aquamarine { background-color: #7FFFD4; }
.color-bg-Azure { background-color: #F0FFFF; }
.color-bg-Beige { background-color: #F5F5DC; }
.color-bg-Bisque { background-color: #FFE4C4; }
.color-bg-Black { background-color: #000000; }
.color-bg-BlanchedAlmond { background-color: #FFEBCD; }
.color-bg-Blue { background-color: #0000FF; }
.color-bg-BlueViolet { background-color: #8A2BE2; }
.color-bg-Brown { background-color: #A52A2A; }
.color-bg-BurlyWood { background-color: #DEB887; }
.color-bg-CadetBlue { background-color: #5F9EA0; }
.color-bg-Chartreuse { background-color: #7FFF00; }
.color-bg-Chocolate { background-color: #D2691E; }
.color-bg-Coral { background-color: #FF7F50; }
.color-bg-CornflowerBlue { background-color: #6495ED; }
.color-bg-Cornsilk { background-color: #FFF8DC; }
.color-bg-Crimson { background-color: #DC143C; }
.color-bg-Cyan { background-color: #00FFFF; }
.color-bg-DarkBlue { background-color: #00008B; }
.color-bg-DarkCyan { background-color: #008B8B; }
.color-bg-DarkGoldenRod { background-color: #B8860B; }
.color-bg-DarkGray { background-color: #A9A9A9; }
.color-bg-DarkGrey { background-color: #A9A9A9; }
.color-bg-DarkGreen { background-color: #006400; }
.color-bg-DarkKhaki { background-color: #BDB76B; }
.color-bg-DarkMagenta { background-color: #8B008B; }
.color-bg-DarkOliveGreen { background-color: #556B2F; }
.color-bg-Darkorange { background-color: #FF8C00; }
.color-bg-DarkOrchid { background-color: #9932CC; }
.color-bg-DarkRed { background-color: #8B0000; }
.color-bg-DarkSalmon { background-color: #E9967A; }
.color-bg-DarkSeaGreen { background-color: #8FBC8F; }
.color-bg-DarkSlateBlue { background-color: #483D8B; }
.color-bg-DarkSlateGray { background-color: #2F4F4F; }
.color-bg-DarkSlateGrey { background-color: #2F4F4F; }
.color-bg-DarkTurquoise { background-color: #00CED1; }
.color-bg-DarkViolet { background-color: #9400D3; }
.color-bg-DeepPink { background-color: #FF1493; }
.color-bg-DeepSkyBlue { background-color: #00BFFF; }
.color-bg-DimGray { background-color: #696969; }
.color-bg-DimGrey { background-color: #696969; }
.color-bg-DodgerBlue { background-color: #1E90FF; }
.color-bg-FireBrick { background-color: #B22222; }
.color-bg-FloralWhite { background-color: #FFFAF0; }
.color-bg-ForestGreen { background-color: #228B22; }
.color-bg-Fuchsia { background-color: #FF00FF; }
.color-bg-Gainsboro { background-color: #DCDCDC; }
.color-bg-GhostWhite { background-color: #F8F8FF; }
.color-bg-Gold { background-color: #FFD700; }
.color-bg-GoldenRod { background-color: #DAA520; }
.color-bg-Gray { background-color: #808080; }
.color-bg-Grey { background-color: #808080; }
.color-bg-Green { background-color: #008000; }
.color-bg-GreenYellow { background-color: #ADFF2F; }
.color-bg-HoneyDew { background-color: #F0FFF0; }
.color-bg-HotPink { background-color: #FF69B4; }
.color-bg-IndianRed  { background-color: #CD5C5C; }
.color-bg-Indigo  { background-color: #4B0082; }
.color-bg-Ivory { background-color: #FFFFF0; }
.color-bg-Khaki { background-color: #F0E68C; }
.color-bg-Lavender { background-color: #E6E6FA; }
.color-bg-LavenderBlush { background-color: #FFF0F5; }
.color-bg-LawnGreen { background-color: #7CFC00; }
.color-bg-LemonChiffon { background-color: #FFFACD; }
.color-bg-LightBlue { background-color: #ADD8E6; }
.color-bg-LightCoral { background-color: #F08080; }
.color-bg-LightCyan { background-color: #E0FFFF; }
.color-bg-LightGoldenRodYellow { background-color: #FAFAD2; }
.color-bg-LightGray { background-color: #D3D3D3; }
.color-bg-LightGrey { background-color: #D3D3D3; }
.color-bg-LightGreen { background-color: #90EE90; }
.color-bg-LightPink { background-color: #FFB6C1; }
.color-bg-LightSalmon { background-color: #FFA07A; }
.color-bg-LightSeaGreen { background-color: #20B2AA; }
.color-bg-LightSkyBlue { background-color: #87CEFA; }
.color-bg-LightSlateGray { background-color: #778899; }
.color-bg-LightSlateGrey { background-color: #778899; }
.color-bg-LightSteelBlue { background-color: #B0C4DE; }
.color-bg-LightYellow { background-color: #FFFFE0; }
.color-bg-Lime { background-color: #00FF00; }
.color-bg-LimeGreen { background-color: #32CD32; }
.color-bg-Linen { background-color: #FAF0E6; }
.color-bg-Magenta { background-color: #FF00FF; }
.color-bg-Maroon { background-color: #800000; }
.color-bg-MediumAquaMarine { background-color: #66CDAA; }
.color-bg-MediumBlue { background-color: #0000CD; }
.color-bg-MediumOrchid { background-color: #BA55D3; }
.color-bg-MediumPurple { background-color: #9370D8; }
.color-bg-MediumSeaGreen { background-color: #3CB371; }
.color-bg-MediumSlateBlue { background-color: #7B68EE; }
.color-bg-MediumSpringGreen { background-color: #00FA9A; }
.color-bg-MediumTurquoise { background-color: #48D1CC; }
.color-bg-MediumVioletRed { background-color: #C71585; }
.color-bg-MidnightBlue { background-color: #191970; }
.color-bg-MintCream { background-color: #F5FFFA; }
.color-bg-MistyRose { background-color: #FFE4E1; }
.color-bg-Moccasin { background-color: #FFE4B5; }
.color-bg-NavajoWhite { background-color: #FFDEAD; }
.color-bg-Navy { background-color: #000080; }
.color-bg-OldLace { background-color: #FDF5E6; }
.color-bg-Olive { background-color: #808000; }
.color-bg-OliveDrab { background-color: #6B8E23; }
.color-bg-Orange { background-color: #FFA500; }
.color-bg-OrangeRed { background-color: #FF4500; }
.color-bg-Orchid { background-color: #DA70D6; }
.color-bg-PaleGoldenRod { background-color: #EEE8AA; }
.color-bg-PaleGreen { background-color: #98FB98; }
.color-bg-PaleTurquoise { background-color: #AFEEEE; }
.color-bg-PaleVioletRed { background-color: #D87093; }
.color-bg-PapayaWhip { background-color: #FFEFD5; }
.color-bg-PeachPuff { background-color: #FFDAB9; }
.color-bg-Peru { background-color: #CD853F; }
.color-bg-Pink { background-color: #FFC0CB; }
.color-bg-Plum { background-color: #DDA0DD; }
.color-bg-PowderBlue { background-color: #B0E0E6; }
.color-bg-Purple { background-color: #800080; }
.color-bg-Red { background-color: #FF0000; }
.color-bg-RosyBrown { background-color: #BC8F8F; }
.color-bg-RoyalBlue { background-color: #4169E1; }
.color-bg-SaddleBrown { background-color: #8B4513; }
.color-bg-Salmon { background-color: #FA8072; }
.color-bg-SandyBrown { background-color: #F4A460; }
.color-bg-SeaGreen { background-color: #2E8B57; }
.color-bg-SeaShell { background-color: #FFF5EE; }
.color-bg-Sienna { background-color: #A0522D; }
.color-bg-Silver { background-color: #C0C0C0; }
.color-bg-SkyBlue { background-color: #87CEEB; }
.color-bg-SlateBlue { background-color: #6A5ACD; }
.color-bg-SlateGray { background-color: #708090; }
.color-bg-SlateGrey { background-color: #708090; }
.color-bg-Snow { background-color: #FFFAFA; }
.color-bg-SpringGreen { background-color: #00FF7F; }
.color-bg-SteelBlue { background-color: #4682B4; }
.color-bg-Tan { background-color: #D2B48C; }
.color-bg-Teal { background-color: #008080; }
.color-bg-Thistle { background-color: #D8BFD8; }
.color-bg-Tomato { background-color: #FF6347; }
.color-bg-Turquoise { background-color: #40E0D0; }
.color-bg-Violet { background-color: #EE82EE; }
.color-bg-Wheat { background-color: #F5DEB3; }
.color-bg-White { background-color: #FFFFFF; }
.color-bg-WhiteSmoke { background-color: #F5F5F5; }
.color-bg-Yellow { background-color: #FFFF00; }
.color-bg-YellowGreen { background-color: #9ACD32; }