.color-text-AliceBlue { color: #F0F8FF; }
.color-text-AntiqueWhite { color: #FAEBD7; }
.color-text-Aqua { color: #00FFFF; }
.color-text-Aquamarine { color: #7FFFD4; }
.color-text-Azure { color: #F0FFFF; }
.color-text-Beige { color: #F5F5DC; }
.color-text-Bisque { color: #FFE4C4; }
.color-text-Black { color: #000000; }
.color-text-BlanchedAlmond { color: #FFEBCD; }
.color-text-Blue { color: #0000FF; }
.color-text-BlueViolet { color: #8A2BE2; }
.color-text-Brown { color: #A52A2A; }
.color-text-BurlyWood { color: #DEB887; }
.color-text-CadetBlue { color: #5F9EA0; }
.color-text-Chartreuse { color: #7FFF00; }
.color-text-Chocolate { color: #D2691E; }
.color-text-Coral { color: #FF7F50; }
.color-text-CornflowerBlue { color: #6495ED; }
.color-text-Cornsilk { color: #FFF8DC; }
.color-text-Crimson { color: #DC143C; }
.color-text-Cyan { color: #00FFFF; }
.color-text-DarkBlue { color: #00008B; }
.color-text-DarkCyan { color: #008B8B; }
.color-text-DarkGoldenRod { color: #B8860B; }
.color-text-DarkGray { color: #A9A9A9; }
.color-text-DarkGrey { color: #A9A9A9; }
.color-text-DarkGreen { color: #006400; }
.color-text-DarkKhaki { color: #BDB76B; }
.color-text-DarkMagenta { color: #8B008B; }
.color-text-DarkOliveGreen { color: #556B2F; }
.color-text-Darkorange { color: #FF8C00; }
.color-text-DarkOrchid { color: #9932CC; }
.color-text-DarkRed { color: #8B0000; }
.color-text-DarkSalmon { color: #E9967A; }
.color-text-DarkSeaGreen { color: #8FBC8F; }
.color-text-DarkSlateBlue { color: #483D8B; }
.color-text-DarkSlateGray { color: #2F4F4F; }
.color-text-DarkSlateGrey { color: #2F4F4F; }
.color-text-DarkTurquoise { color: #00CED1; }
.color-text-DarkViolet { color: #9400D3; }
.color-text-DeepPink { color: #FF1493; }
.color-text-DeepSkyBlue { color: #00BFFF; }
.color-text-DimGray { color: #696969; }
.color-text-DimGrey { color: #696969; }
.color-text-DodgerBlue { color: #1E90FF; }
.color-text-FireBrick { color: #B22222; }
.color-text-FloralWhite { color: #FFFAF0; }
.color-text-ForestGreen { color: #228B22; }
.color-text-Fuchsia { color: #FF00FF; }
.color-text-Gainsboro { color: #DCDCDC; }
.color-text-GhostWhite { color: #F8F8FF; }
.color-text-Gold { color: #FFD700; }
.color-text-GoldenRod { color: #DAA520; }
.color-text-Gray { color: #808080; }
.color-text-Grey { color: #808080; }
.color-text-Green { color: #008000; }
.color-text-GreenYellow { color: #ADFF2F; }
.color-text-HoneyDew { color: #F0FFF0; }
.color-text-HotPink { color: #FF69B4; }
.color-text-IndianRed  { color: #CD5C5C; }
.color-text-Indigo  { color: #4B0082; }
.color-text-Ivory { color: #FFFFF0; }
.color-text-Khaki { color: #F0E68C; }
.color-text-Lavender { color: #E6E6FA; }
.color-text-LavenderBlush { color: #FFF0F5; }
.color-text-LawnGreen { color: #7CFC00; }
.color-text-LemonChiffon { color: #FFFACD; }
.color-text-LightBlue { color: #ADD8E6; }
.color-text-LightCoral { color: #F08080; }
.color-text-LightCyan { color: #E0FFFF; }
.color-text-LightGoldenRodYellow { color: #FAFAD2; }
.color-text-LightGray { color: #D3D3D3; }
.color-text-LightGrey { color: #D3D3D3; }
.color-text-LightGreen { color: #90EE90; }
.color-text-LightPink { color: #FFB6C1; }
.color-text-LightSalmon { color: #FFA07A; }
.color-text-LightSeaGreen { color: #20B2AA; }
.color-text-LightSkyBlue { color: #87CEFA; }
.color-text-LightSlateGray { color: #778899; }
.color-text-LightSlateGrey { color: #778899; }
.color-text-LightSteelBlue { color: #B0C4DE; }
.color-text-LightYellow { color: #FFFFE0; }
.color-text-Lime { color: #00FF00; }
.color-text-LimeGreen { color: #32CD32; }
.color-text-Linen { color: #FAF0E6; }
.color-text-Magenta { color: #FF00FF; }
.color-text-Maroon { color: #800000; }
.color-text-MediumAquaMarine { color: #66CDAA; }
.color-text-MediumBlue { color: #0000CD; }
.color-text-MediumOrchid { color: #BA55D3; }
.color-text-MediumPurple { color: #9370D8; }
.color-text-MediumSeaGreen { color: #3CB371; }
.color-text-MediumSlateBlue { color: #7B68EE; }
.color-text-MediumSpringGreen { color: #00FA9A; }
.color-text-MediumTurquoise { color: #48D1CC; }
.color-text-MediumVioletRed { color: #C71585; }
.color-text-MidnightBlue { color: #191970; }
.color-text-MintCream { color: #F5FFFA; }
.color-text-MistyRose { color: #FFE4E1; }
.color-text-Moccasin { color: #FFE4B5; }
.color-text-NavajoWhite { color: #FFDEAD; }
.color-text-Navy { color: #000080; }
.color-text-OldLace { color: #FDF5E6; }
.color-text-Olive { color: #808000; }
.color-text-OliveDrab { color: #6B8E23; }
.color-text-Orange { color: #FFA500; }
.color-text-OrangeRed { color: #FF4500; }
.color-text-Orchid { color: #DA70D6; }
.color-text-PaleGoldenRod { color: #EEE8AA; }
.color-text-PaleGreen { color: #98FB98; }
.color-text-PaleTurquoise { color: #AFEEEE; }
.color-text-PaleVioletRed { color: #D87093; }
.color-text-PapayaWhip { color: #FFEFD5; }
.color-text-PeachPuff { color: #FFDAB9; }
.color-text-Peru { color: #CD853F; }
.color-text-Pink { color: #FFC0CB; }
.color-text-Plum { color: #DDA0DD; }
.color-text-PowderBlue { color: #B0E0E6; }
.color-text-Purple { color: #800080; }
.color-text-Red { color: #FF0000; }
.color-text-RosyBrown { color: #BC8F8F; }
.color-text-RoyalBlue { color: #4169E1; }
.color-text-SaddleBrown { color: #8B4513; }
.color-text-Salmon { color: #FA8072; }
.color-text-SandyBrown { color: #F4A460; }
.color-text-SeaGreen { color: #2E8B57; }
.color-text-SeaShell { color: #FFF5EE; }
.color-text-Sienna { color: #A0522D; }
.color-text-Silver { color: #C0C0C0; }
.color-text-SkyBlue { color: #87CEEB; }
.color-text-SlateBlue { color: #6A5ACD; }
.color-text-SlateGray { color: #708090; }
.color-text-SlateGrey { color: #708090; }
.color-text-Snow { color: #FFFAFA; }
.color-text-SpringGreen { color: #00FF7F; }
.color-text-SteelBlue { color: #4682B4; }
.color-text-Tan { color: #D2B48C; }
.color-text-Teal { color: #008080; }
.color-text-Thistle { color: #D8BFD8; }
.color-text-Tomato { color: #FF6347; }
.color-text-Turquoise { color: #40E0D0; }
.color-text-Violet { color: #EE82EE; }
.color-text-Wheat { color: #F5DEB3; }
.color-text-White { color: #FFFFFF; }
.color-text-WhiteSmoke { color: #F5F5F5; }
.color-text-Yellow { color: #FFFF00; }
.color-text-YellowGreen { color: #9ACD32; }